webcolors==24.11.1
stack-data==0.6.3
stack-data==0.2.0
pexpect==4.8.0
pexpect==4.9.0
setproctitle==1.3.4
httpcore==1.0.2
httpcore==1.0.7
types-python-dateutil==2.9.0.20241206
wrapt==1.17.2
jupyter_server_terminals==0.4.4
jupyter_server_terminals==0.5.3
debugpy==1.8.11
debugpy==1.8.12
nbclient==0.8.0
nbclient==0.10.2
zipp==3.21.0
wandb==0.19.5
certifi==2024.12.14
certifi==2025.1.31
platformdirs==3.10.0
platformdirs==4.3.6
torchinfo==1.8.0
argon2-cffi-bindings==21.2.0
ipython==8.15.0
ipython==8.18.1
aiohttp==3.11.11
exceptiongroup==1.2.2
exceptiongroup==1.2.0
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cublas-cu12==12.4.5.8
notebook_shim==0.2.4
notebook_shim==0.2.3
jupyterlab==4.3.5
jupyterlab==4.3.4
jupyterlab_widgets==3.0.13
jupyterlab_server==2.27.3
widgetsnbextension==4.0.13
multidict==6.1.0
ftfy==6.3.1
jsonschema-specifications==2024.10.1
jsonschema-specifications==2023.7.1
terminado==0.18.1
terminado==0.17.1
mccabe==0.6.1
pillow==11.1.0
charset-normalizer==3.3.2
charset-normalizer==3.4.1
MarkupSafe==3.0.2
tensorflow==2.19.0
peft==0.14.0
sniffio==1.3.0
sniffio==1.3.1
importlib_metadata==8.5.0
setuptools==75.1.0
pycparser==2.21
pycparser==2.22
gdown==5.2.0
ujson==5.10.0
h11==0.14.0
asttokens==3.0.0
asttokens==2.0.5
nvidia-cuda-nvrtc-cu12==12.4.127
python-json-logger==3.2.1
frozenlist==1.5.0
cycler==0.12.1
websocket-client==1.8.0
nbformat==5.10.4
networkx==3.2.1
jupyter_server==2.14.1
jupyter_server==2.15.0
async-lru==2.0.4
notebook==7.3.2
Brotli==1.0.9
typing_extensions==4.12.2
soupsieve==2.5
soupsieve==2.6
threadpoolctl==3.5.0
jupyterlab-pygments==0.1.2
jupyterlab_pygments==0.3.0
aiosignal==1.3.2
six==1.17.0
six==1.16.0
jupyter-lsp==2.2.0
jupyter-lsp==2.2.5
Jinja2==3.1.5
h5py==3.12.1
arrow==1.3.0
beautifulsoup4==4.12.3
Send2Trash==1.8.3
Send2Trash==1.8.2
mistune==3.1.1
mistune==2.0.4
overrides==7.4.0
overrides==7.7.0
namex==0.1.0
cffi==1.17.1
rich==14.1.0
GitPython==3.1.44
attrs==24.3.0
rpds-py==0.22.3
tzdata==2024.2
torch==2.5.1
tinycss2==1.4.0
open_clip_torch==2.32.0
importlib_resources==6.5.2
entrypoints==0.3
nest-asyncio==1.6.0
tornado==6.4.2
yarl==1.18.3
matplotlib-inline==0.1.7
matplotlib-inline==0.1.6
optree==0.17.0
contourpy==1.3.0
yacs==0.1.8
wcwidth==0.2.5
wcwidth==0.2.13
argon2-cffi==21.3.0
argon2-cffi==23.1.0
wheel==0.44.0
rfc3339-validator==0.1.4
markdown-it-py==3.0.0
pip==24.2
fsspec==2024.9.0
Pygments==2.19.1
Pygments==2.15.1
defusedxml==0.7.1
filelock==3.16.1
parso==0.8.4
httpx==0.28.1
httpx==0.27.0
sentry-sdk==2.20.0
pyparsing==3.2.1
pyzmq==26.2.1
pyzmq==26.2.0
nvidia-nvjitlink-cu12==12.4.127
jsonschema==4.23.0
click==8.1.8
anyio==4.8.0
anyio==4.6.2
isort==4.3.21
dill==0.3.8
ipywidgets==8.1.5
transformers==4.47.1
smmap==5.0.2
psutil==6.1.1
psutil==5.9.0
jupyter-console==6.6.3
joblib==1.4.2
scipy==1.13.1
py-cpuinfo==9.0.0
absl-py==2.1.0
fastjsonschema==2.21.1
fastjsonschema==2.20.0
prompt_toolkit==3.0.50
prompt-toolkit==3.0.43
torchvision==0.20.1
wilds==1.2.2
decorator==5.1.1
pydantic_core==2.27.2
jupyter-events==0.12.0
jupyter-events==0.10.0
pytz==2024.2
prometheus_client==0.21.1
prometheus_client==0.21.0
mpmath==1.3.0
pickleshare==0.7.5
tb-nightly==2.19.0a20250108
pandocfilters==1.5.0
pandocfilters==1.5.1
pure_eval==0.2.3
pure-eval==0.2.2
hjson==3.1.0
babel==2.16.0
babel==2.17.0
pycodestyle==2.5.0
packaging==24.2
eval_type_backport==0.2.2
tqdm==4.67.1
pandas==2.2.3
propcache==0.2.1
fqdn==1.5.1
safetensors==0.5.2
kaggle==1.6.17
tensorflow-io-gcs-filesystem==0.37.1
nvidia-nvtx-cu12==12.4.127
matplotlib==3.9.4
nvidia-cusparse-cu12==12.3.1.170
tomli==2.0.1
tomli==2.2.1
termcolor==3.1.0
deepspeed==0.16.2
grpcio==1.69.0
isoduration==20.11.0
idna==3.10
idna==3.7
xxhash==3.5.0
uri-template==1.3.0
datum==1.13.0
async-timeout==5.0.1
requests==2.32.3
Werkzeug==3.1.3
referencing==0.30.2
referencing==0.36.2
astunparse==1.6.3
jupyter_client==8.6.3
jedi==0.19.2
protobuf==5.29.2
tabulate==0.9.0
ptyprocess==0.7.0
torchaudio==2.5.1
nvidia-cudnn-cu12==9.1.0.70
tensorboard-data-server==0.7.2
accelerate==1.3.0
tensorboard==2.19.0
PyYAML==6.0.2
mdurl==0.1.2
triton==3.1.0
multiprocess==0.70.16
bleach==6.2.0
nvidia-cufft-cu12==11.2.1.3
ninja==1.11.1.3
backcall==0.2.0
flatbuffers==25.2.10
fonttools==4.55.4
Markdown==3.7
keras==3.10.0
jupyter_core==5.7.2
urllib3==2.3.0
kiwisolver==1.4.7
regex==2024.11.6
libclang==18.1.1
datasets==3.2.0
jsonpointer==3.0.0
timm==1.0.15
google-pasta==0.2.0
nbconvert==7.16.5
nbconvert==7.16.6
huggingface-hub==0.27.1
einops==0.8.0
json5==0.10.0
json5==0.9.25
nvidia-ml-py==12.560.30
aiohappyeyeballs==2.4.4
nvidia-curand-cu12==10.3.5.147
pyarrow==19.0.0
gitdb==4.0.12
comm==0.2.1
comm==0.2.2
flake8==3.7.9
ogb==1.3.6
ipykernel==6.29.5
pydantic==2.10.5
littleutils==0.2.4
scikit-learn==1.6.1
webencodings==0.5.1
webencodings==0.5.1
python-slugify==8.0.4
executing==0.8.3
executing==2.2.0
evaluate==0.4.3
future==1.0.0
sympy==1.13.1
PySocks==1.7.1
nvidia-cuda-cupti-cu12==12.4.127
gast==0.6.0
tokenizers==0.21.0
yapf==0.29.0
nvidia-nccl-cu12==2.21.5
ml_dtypes==0.5.1
python-dateutil==2.9.0.post0
numpy==1.26.4
outdated==0.2.2
annotated-types==0.7.0
docker-pycreds==0.4.0
pyflakes==2.1.1
opt_einsum==3.4.0
text-unidecode==1.3
clip==0.2.0
traitlets==5.14.3
msgpack==1.1.0
nvidia-cusolver-cu12==11.6.1.9
cma==4.0.0
rfc3986-validator==0.1.1
jupyter==1.1.1
dassl==0.6.3
jaraco.context==5.3.0
jaraco.collections==5.1.0
packaging==24.1
typing_extensions==4.12.2
importlib_metadata==8.0.0
backports.tarfile==1.2.0
jaraco.functools==4.0.1
autocommand==2.2.2
zipp==3.19.2
tomli==2.0.1
importlib_resources==6.4.0
jaraco.text==3.12.1
more-itertools==10.3.0
platformdirs==4.2.2
wheel==0.43.0
inflect==7.3.1
typeguard==4.3.0
